@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "styledecorLight";
  default: true;

  --color-primary: #1B7261;
  --color-secondary: #4A5D5A;
  --color-accent: #C5A059;
  --color-base-100: #fff;
}

* {
  font-family: "DM Sans", sans-serif;
}

/* #237464 */
/* #6B705C */
/* #a4ab90 */
/* #1B7261 */
/* #4A5D5A */